<!DOCTYPE html>
<html lang="en">
<%- include('./partial/head.ejs') %>
<body>
    <%- include('./partial/navbarTeacher.ejs') %>
    <div>
        <h2>Subjects</h2>
    <table border>
        <tr>
          <th>Subject Name</th>
          <th>Date</th>
          <th>link</th>
          <th>Limit Student</th>
          <th>Action</th>
        </tr>
        <% data[0].Subjects.forEach(el => { %>
        <tr>
            <td><%= el.subjectName %></td>
            <td><%= el.Schedule.date %></td>
            <td><%= el.Schedule.link %></td>
            <td><%= el.Schedule.student_limit %></td>
            <td>
                <a href=<%= `/subject/student/${el.id}` %>>See Student</a> |
                <a href=<%= `/schedule/edit/${el.id}` %>>Edit</a> |
                <a href=<%= `/schedule/delete/${el.id}` %>>Delete</a>
            </td>
        </tr>
        <% }) %>
      </table>
    </div>
</body>
</html>